<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hua.mapper.MessageMapper">

    <!--新增留言-->
    <insert id="addMessage" parameterType="Message">
        insert into myblog.t_message(nickname,email,content,avatar,create_time,parent_message_id,admin_message)
            values(#{nickname},#{email},#{content},#{avatar},#{createTime},#{parentMessageId},#{adminMessage});
    </insert>

    <!--删除留言-->
    <delete id="delMessageById">
        delete from myblog.t_message where id = #{id};
    </delete>

    <!--根据父id查询留言-->
    <select id="getMessageByParentMessageId" resultType="Message">
        select * from myblog.t_message where parent_message_id = #{parentMessageId};
    </select>

</mapper>