<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link href="../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
<!--    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">&lt;!&ndash;没有&ndash;&gt;-->
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<nav id="nav" class="gird-header" style="display: none">
    <div th:replace="~{_fragment::menu(1)}"></div>
</nav>




<!--顶部图片-->
<div class="m-bg-class_outer" style="width: 100%;height: 750px">
    <img th:src="@{/images/bg.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover" align="center">
        <div class="m-margin-top-maxx" align="center">
            <!--头像-->
            <img class="ui circular image" align="center" th:src="@{/images/me.jpg}" style="width: 150px;height: 150px;">
        </div>
        <div class="m-font-size-title-large" align="center">番茄西红柿</div>

        <div class="" align="center">
<!--            <a href="#" class="ui tencent circular icon button"><i class="user icon"></i></a>-->
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="316392836" data-position="bottom center"><i class="qq icon"></i></a>
            <a href="https://github.com/oneStarLR/" target="_blank" class="ui github circular icon button" data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
<!--            <a href="https://blog.csdn.net/One_L_Star" target="_blank" class="ui csdn circular icon button" data-content="点击跳转CSDN" data-position="bottom center"><i class="copyright outline icon"></i></a>-->
            <a href="#" class="ui email circular icon button" data-content="LWH_559@163.com" data-position="bottom center"><i class="envelope  icon"></i></a>
        </div>

        <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/oneStarWechat.jpg" th:src="@{/images/oneStarWechat.jpg}" alt="" class="ui rounded image" style="width: 110px">
            <div align="center">微信</div>
        </div>
        <div class="ui qq-qr flowing popup transition hidden">
            <img src="../static/images/qq.jpg" th:src="@{/images/qq.jpg}" alt="" class="ui rounded image" style="width: 110px">
            <div align="center">QQ</div>
        </div>

        <h3 class="m-font-size-text" align="center">欢迎来到我的博客，我是番茄西红柿，爱番茄不爱西红柿</h3>
        <hr style="width: 30%">
        <h5 class="m-font-size-text-init-title m-margin-top-large">“大圣，此去欲何?”</h5>
        <h5 class="m-font-size-text-init-title">“踏南天，碎凌霄”</h5>
        <h5 class="m-font-size-text-init-title">“若一去不回……”</h5>
        <h5 class="m-font-size-text-init-title">“便一去不回”</h5>
        <div id="waypoint" class="ui m-margin-top-large" align="center">
            <a th:href="@{/}" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i class="home icon"></i>首页</a>
            <a th:href="@{/types/-1}" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i class="clone outline icon"></i>分类</a>
            <a th:href="@{/archives}" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i class="clock icon"></i>时间轴</a>
            <a href="#" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i class="music icon"></i>音乐盒</a>
            <a href="#" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i class="book icon"></i>留言板</a>
            <a href="#" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i class="pencil alternate icon"></i>友人帐</a>
            <a href="#" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i class="image icon"></i>照片墙</a>
            <a th:href="@{/about}" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"><i class="info icon"></i>关于我</a>
        </div>
        <div class="hiddenDiv"></div>
    </div>

</div>



<!--最新推荐-->
<div class="ui m-padded-tb-large">
    <div class="ui m-container-small m-opacity">
        <div class="ui secondary segment " align="center">
            <i class="bookmark icon"></i>最新推荐
        </div>
    </div>
    <div class="ui stackable m-container-mini m-opacity grid">
        <div class="m-margin-tb-tiny four wide column" th:each="recommendBlog:${recommendBlogs}">
            <a th:href="@{/blog/{id}(id=${recommendBlog.id})}" class="class_outer" target="_blank">
                <img th:src="@{${recommendBlog.firstPicture}}" alt="" class="ui rounded image">
                <span class="class_cover" >
                     <h4 class="m-font-size-blog-text m-margin-tb-tiny" th:text="${recommendBlog.title}">大圣，此去欲何?</h4>
                  </span>
            </a>
        </div>
    </div>
</div>


<!--中间内容-->
<div class="m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--博客内容-->
            <div class="ui vertical segment">
                <div class="ui m-container-small m-opacity">
                    <div class="ui secondary segment " align="center">
                        <i class="bookmark icon"></i>最新文章
                    </div>
                </div>
                <!--博文列表-->
                <div class="ui padded segment m-padded-tb-large m-opacity" th:each="blog:${pageInfo.getList()}">
                    <div class="ui large aligned mobile reversed stackable grid">
                        <!--博文信息-->
                        <div class="eleven wide column ">
                            <h3 class="ui header" ><a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">标题</a></h3>
                            <p class="m-text m-margin-top-max" th:text="|${blog.description}......|">描述</p>
                            <div class="ui m-margin-top-max grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <!--作者头像-->
                                            <img th:src="@{${blog.user.avatar}}"  alt="" class="ui avatar image">
                                            <div class="content"><a th:href="@{/about}" target="_blank" class="header" th:text="${blog.user.nickname}">作者昵称</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-01-01</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${blog.views}">2222</span>
                                        </div>
                                        <div class="item">
                                            <i class="comment outline icon"></i> <span th:text="${blog.commentCount}">2222</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">好文</a>
                                </div>
                            </div>
                        </div>

                        <!--博文图片-->
                        <div class="five wide column">
                            <a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!--分页-->
            <div class="ui bottom attached segment m-opacity stackable grid">
                <div class="three wide column" align="center">
                    <a class="item" th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}">上一页</a>
                </div>

                <div class="ten wide column" align="center">
                    <p> <span th:text="${pageInfo.pageNum}"></span> / <span th:text="${pageInfo.pages}"></span> </p>
                </div>

                <div class="three wide column" align="center">
                    <a class="item" th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:1)}" th:unless="${pageInfo.isLastPage}">下一页</a>
                </div>
            </div>

        </div>
    </div>

</div>


<!--置顶图标-->
<div class="m-padded-tb-large m-fixed m-right-bottom">
    <a href="#" class="ui icon button"><i class="chevron up icon"></i> </a>
</div>



<br>
<br>
<br>

<!--底部栏-->
<footer th:replace="~{_fragment::footer}"></footer>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>

<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-show');

    });

    // 显示公众号
    $('.tencent').popup({
        popup : $('.tencent-qr'),
        position: 'bottom center'
    });

    // 显示微信
    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'bottom center'
    });

    // 显示QQ
    $('.qq').popup({
        popup : $('.qq-qr'),
        position: 'bottom center'
    });

    // 显示邮箱
    $('.email').popup();

    // 显示CSDN
    $('.csdn').popup();

    // 显示github
    $('.github').popup();

    // 导航栏显示
    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function(direction) {
            if (direction == 'down') {
                $('#nav').show(500);
            } else {
                $('#nav').hide(500);
            }
            console.log('Scrolled to waypoint!  ' + direction);
        }
    })
</script>

<script th:replace="~{_fragment::script}"></script>
</body>
</html>